/* MACRO ELEMENTS */
/* General */
html, body { height: 100%; margin: 0; background-color: #1E1E1E; text-rendering: optimizeLegibility; }
#__next { height: 100%; margin: 0; background-color: #1E1E1E; text-rendering: optimizeLegibility; }

/* FONTS */
@font-face {
  font-family: 'Dosis';   
  src: url("/fonts/Dosis-VariableFont_wght.ttf");
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #3D3D3F;
  border-radius: 0px;
}

/* NS PROGRESS BAR */
#nprogress .bar {
  background: #7991D1 !important;
}

/* SELECTION */
::selection {
  background-color: #7991D1 !important;
  color: #FFF !important;
}

.svg-main-bg {
  background-image: url('/images/space.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}



.arrow-menu {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  perspective: 1px;
  transform: translateZ(0);
}

.arrow {
  color: rgb(158, 155, 151);
  -webkit-font-smoothing: subpixel-antialiased;
  list-style: none;
  list-style-image: initial;
  margin: 0;
  box-sizing: border-box;
  position: absolute !important;
  z-index: 100 !important;
  content: "";
  width: 15px;
  height: 15px;
  top: -7.3px;
  right: 30px;
  opacity: 1;
}

